<!DOCTYPE html>
<html>
  <head>
    <title>DeviseCancan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    Welcome, <%=current_user.email %>
    <%= link_to "log_out", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Sign_in", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
